.WhiteKey {
  position: relative;
  left: 50px;
  top: 50px;
  width 1px;
  height 1px;
  border-radius: 100%;
  background-color: grey;
  display: inline-flex;
  margin-right: 1px;
  border: 1px solid black;
}

.BlackKey {
  position: relative;
  left: 50px;
  top: 100px;
  width 1px;
  height 1px;
  border-radius: 100%;
  background-color: grey;
  display: inline-flex;
  margin-right: 27px;
  border: 1px solid black;
}

.led {
  background-color: #151513;
  border: 1px solid black;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  top: 26px;
  left: 352px;
}

.red {
  background-color: red;
}

#board {
  position: absolute;
  background-color: #0dbfc3;
  width: 515px;
  height: 260px;
  border-radius: 5px;
  border: 1px solid black
}

.button {
  background-color: black;
  border: 1px grey;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  top: -190px;
  left: 40px;
  display: inline-flex;
  border: 1px solid grey;
  margin-right: 5px;
  cursor: pointer;
}

.tempoButton {
  background-color: black;
  border: 1px solid grey;
  width: 20px;
  height: 20px;
  border-radius: 40%;
  position: relative;
  top: 10px;
  left: 370px;
  display: inline-flex;
  vertical-align: middle;
  line-height: 20px;
  cursor: pointer;
  color: grey;
  margin: 0px;
}
#minus {
  left: 7px;
  top: -17px;
  position: relative;
}
#plus {
  left: 6px;
  top: -16px;
  position: relative;
}

.monitor{
  position: relative;
  background-color: black;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  top: -16px
}

.shiftButtonLeft {
  background-color: black;
  border: 1px solid blue;
  width: 30px;
  height: 20px;
  border-radius: 20%;
  position: relative;
  top: -41px;
  left: 135px;
  display: inline-flex;
  vertical-align: middle;
  line-height: 20px;
  cursor: pointer;
  color: white;
  margin: 0px;
}
.shiftButtonRight {
  background-color: black;
  border: 1px solid blue;
  width: 30px;
  height: 20px;
  border-radius: 20%;
  position: relative;
  top: -41px;
  left: 135px;
  display: inline-flex;
  vertical-align: middle;
  line-height: 20px;
  cursor: pointer;
  color: white;
  margin: 0px;
}
#shift_pos {
  left: 10px;
  top: -16px;
  position: relative;
}

.push{
  border: 1px solid white;
}
.reset{
  border: 1px solid blue;
}